DOMAIN=http://localhost:3000
PORT=3000

FITBIT_OAUTH_CLIENT_ID=
FITBIT_OAUTH_CLIENT_SECRET=
FITBIT_OAUTH_REDIRECT_URL=

OAUTHLIB_INSECURE_TRANSPORT=true

GOOGLE_CLOUD_PROJECT=

GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json

BIGQUERY_DATASET=

BACKEND_ONLY=true
